body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1D1E28;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 2px #AD91FF solid !important;
    font-size: 16px;
    color: #333333 !important;
}

nav:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 210px;
    background-color: black;
    z-index: -1;
  }

body {
    background-image: url("https://i.redd.it/5o5gy7ekf5c71.gif") !important;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

nav, nav * {
    color: whitesmoke !important;
}

.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #AD91FF !important;
     font-weight: bold !important;
 }

 .login-btn {
     border: 2px solid #AD91FF !important;
     font-size: 10px !important;
 }
 .login-btn:hover {
     background: #AD91FF !important;
 }
.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #333333 !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #AD91FF!important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 160px 50px !important;
    color: #333333 !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgb(184, 197, 255) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background: transparent !important;
    padding: 60px 50px !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features .title {
    font-size: 40px !important;
    color: white !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #333333;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}
.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #ffffff !important;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #333333 !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #333333;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #333333 !important;
}


.page_end {
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #333333 !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
}
.features .card-text {
color: rgb(193, 193, 193) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #333333 !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: white;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #AD91FF !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: white !important
}

/* Magictext css */
:root {  
    --purple: #ffb8e0;
    --violet: #e470d8;
    --pink: #aa27e1;
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  
  
  h6 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h6 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h6 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  
  h6 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }
  
  h6 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    font-size: 9em;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

/* CUSTOM SCROLL BAR*/

/* width */

/* JUMPING TEXT - SCROLL DOWN*/
@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
  
  .down-arrow {
    animation: jumpInfinite 1.5s infinite;
    text-align: center !important;
  }

/* RESIZE NAVBAR MOBILE */

@media (max-width: 991px) {
  .navbar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }
}

body::-webkit-scrollbar {
  display: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}